services:
  bd:
    container_name: analitica-bd
    image: postgres:13.5-alpine
    restart: unless-stopped
    networks:
      - red
    environment:
      POSTGRES_DB: ${BD_NOMBRE}
      POSTGRES_USER: ${BD_USUARIO}
      POSTGRES_PASSWORD: ${BD_CLAVE}
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      # - ./sql/schema.postgresql.sql:/docker-entrypoint-initdb.d/schema.postgresql.sql:ro
      - ./datos:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  umami:
    container_name: analitica-app
    image: ghcr.io/umami-software/umami:latest
    restart: unless-stopped
    init: true
    networks:
      - red
    ports:
      - ${PUERTO}:3000
    depends_on:
      bd:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://${BD_USUARIO}:${BD_CLAVE}@bd:5432/${BD_NOMBRE}
      APP_SECRET: ${SALT}
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  red:
